basePath: /api/v1
host: localhost:8080
info:
  contact:
    email: support@openusp.io
    name: OpenUSP Support
    url: https://github.com/plume-design-inc/openusp
  description: OpenUSP API Gateway provides RESTful APIs for managing TR-369 USP and
    TR-069 CWMP devices
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: OpenUSP API Gateway
  version: "1.0"
paths: {}
schemes:
- http
- https
securityDefinitions:
  ApiKeyAuth:
    description: API key authentication. Use "Bearer <token>" format.
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
